---
layout: default
title: Crosslives Blog
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
    {% if post.published != false %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url | replace '.html','' }}" class="post-title">{{ post.title }}</a> By: {{post.author_name}}</li>
        {{ post.content | strip_html | truncatewords: 50 }} 
        <a href="{{ post.url | replace '.html','' }}" class="post-readmore">(Read More)</a>
    {% endif %}
    {% endfor %}
  </ul>
</div>